# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# OS / Editor
.DS_Store
.idea/
.vscode/

# Env files
.env
.env.*

# TypeScript
*.tsbuildinfo

# Build outputs (monorepo)
dist/
build/
apps/demo/dist/
apps/docs/build/

# Tooling caches
.vite/
apps/docs/.docusaurus/

# Coverage
coverage/

# Misc
.eslintcache